* {
  padding: 0;
  margin: 0px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 720px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.canvas-container {
  background-color: #313131;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.menu-container {
  color: #fff;
  background-color: #565656; 
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  font-family: arial, sans-serif;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.my-canvas {
  margin: 40px;
  background: #eee;
  display: flex;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
